@{
    ViewData["Title"] = "Главная";
}
@{
    ViewData["Title"] = "Home Page";
}

<div id="home">
    <div class="container bg-white rounded mt-3 shadow">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Топ коллекций по числу предметов</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var collection in ViewBag.Collections)
            {
                <div class="col-lg-4 d-flex justify-content-center">
                    <div class="card bg-secondary bg-white rounded mb-4" style="width: 18rem;">
@*                        <a href="@collection.Image" data-toggle="lightbox" data-title="@collection.Name">
                            <img src="@collection.Image" class="card-img-top shadow-sm bg-white rounded image-popup-no-margins img-card" alt="...">
                        </a>*@
                        <div class="card-body">
                            <h5 class="card-title">
                                @collection.Name
                            </h5>
                            <p>
                                Тема:   
                                <span class="badge badge-info">@collection.Theme.Name</span>
                            </p>
                            <p class="card-text cropped-text">Описание: @collection.Description</p>
                            <p>Кол-во предметов: @collection.Elements.Count</p>
                            <a asp-action="Collection" asp-controller="Collection" asp-route-id="@collection.Id" class="btn btn-outline-primary btn-block">Открыть</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Последние добавленные предметы</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var lastAddedCollectionElement in ViewBag.LastAddedCollectionElement)
            {
                <div class="col-lg-4 d-flex justify-content-center">
                    <div class="card bg-secondary bg-white rounded mb-4" style="width: 18rem;">
@*                        <a href="@lastAddedCollectionElement.Image" data-toggle="lightbox" data-title="@lastAddedCollectionElement.Title">
                            <img src="@lastAddedCollectionElement.Image" class="card-img-top shadow-sm bg-white rounded image-popup-no-margins img-card" alt="...">
                        </a>*@
                        <div class="card-body">
                            <h5 class="card-title">
                                @lastAddedCollectionElement.Name
                            </h5>
@*                            <p class="card-text cropped-text">@lastAddedCollectionElement.Description</p>*@
                            <a asp-action="CollectionElement" asp-controller="Collection" asp-route-id="@lastAddedCollectionElement.Id" class="btn btn-outline-primary btn-block">Открыть</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>