@{
    ViewData["Title"] = ViewBag.Collection.Name;
}

<div id="collection" class="container mt-5 shadow pt-1 pb-1 mb-2 bg-white rounded">
    <div class="row">
        <div class="col-lg-12 mt-2 justify-content-between custom-control-inline">
            <div>
                <div>
                    <img src="@ViewBag.Collection.Image" value="" style="height: 150px; width: 150px; object-fit:cover;" />
                </div>
                <div>
                    Владелец коллекции:
                    <a asp-controller="Profile" asp-action="Profile" asp-route-id="@ViewBag.Collection.User.Id">
                        @ViewBag.Collection.User.UserName
                    </a>
                </div>

                <div>
                    Тема коллекции:
                    <span class="badge badge-primary">@ViewBag.Collection.Theme.Name</span>
                </div>
            </div>
            <div class="justify-content-end">
                @if (User.Identity.IsAuthenticated && (User.Claims.ElementAt(0).Value == ViewBag.Collection.User.Id.ToString() || User.IsInRole("Admin")))
                {
                    <a class="btn btn-outline-primary" asp-controller="Collection" asp-action="EditCollection" asp-route-id="@ViewBag.Collection.Id">Редактировать</a>
                    <a class="btn btn-outline-danger ml-3" asp-controller="Collection" asp-action="DeleteCollection" asp-route-id="@ViewBag.Collection.Id">Удалить</a>
                }
            </div>
        </div>
        <div class="col-lg-12 mt-3 border-top">
            <h1 class="h3" style="word-wrap: break-word;">
                @ViewBag.Collection.Name
            </h1>
        </div>
        <div class="col-lg-12">
            Описание:
        </div>
        <div class="col-lg-12" style="word-wrap: break-word;">
            @ViewBag.Collection.Description
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-3 pt-3 pb-1">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link btn-block rounded active" data-toggle="tab" href="#items">Предметы</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="items" class="tab-pane fade show active mt-3">
                    @if (User.Identity.IsAuthenticated && (User.Claims.ElementAt(0).Value == ViewBag.Collection.User.Id.ToString() || User.IsInRole("Admin")))
                    {
                        <a class="btn btn-outline-primary mb-3" asp-action="CreateCollectionElement" asp-controller="Collection" asp-route-id="@ViewBag.Collection.Id">Добавить предмет</a>
                    }
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Картинка</th>
                                <th scope="col">Название</th>
                                @if (User.Identity.IsAuthenticated && (ViewBag.Collection.User.Id == User.Claims.ElementAt(0).Value || User.IsInRole("Admin")))
                                {
                                    <th scope="col"></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var collectionElement in ViewBag.Elements)
                            {
                                <tr>
                                    <th>
                                        <img class="rounded-circle" src="@collectionElement.Image" value="" style="height: 66px; width: 66px; object-fit:cover;" />
                                    </th>
                                    <th>
                                        <a asp-controller="Collection" asp-action="CollectionElement" asp-route-id="@collectionElement.Id">@collectionElement.Name</a>
                                    </th>
                                    @if (User.Identity.IsAuthenticated && (ViewBag.Collection.User.Id == User.Claims.ElementAt(0).Value || User.IsInRole("Admin")))
                                    {
                                        <td>
                                            <a class="btn btn-outline-danger" asp-controller="Collection" asp-action="DeleteCollectionElement" asp-route-elementId="@collectionElement.Id">Удалить</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>