@model CourseWork.ViewModels.CollectionElementViewModel
@{
    ViewData["Title"] = $"{ViewBag.CollectionElement.Name}";
}
<style>
    .btn-rounded {
        border-radius: 19px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    }
</style>
<div id="collection" class="container mt-5">
    <div class="row shadow pt-1 pb-1 mb-2 bg-white rounded">
        <div class="col-lg-12 mt-2 justify-content-between custom-control-inline">
            <h1 class="h3">
                @ViewBag.CollectionElement.Name
            </h1>
            <div class="d-flex justify-content-end">
                @if (User.Identity.IsAuthenticated && (User.Claims.ElementAt(0).Value == ViewBag.CollectionElement.Collection.User.Id.ToString() || User.IsInRole("Admin")))
                {
                    <a class="btn btn-outline-primary" asp-controller="Collection" asp-action="EditCollectionElement" asp-route-id="@ViewBag.CollectionElement.Id">Редактировать</a>
                    <a class="btn btn-outline-danger ml-3" asp-controller="Collection" asp-action="DeleteCollectionElement" asp-route-elementId="@ViewBag.CollectionElement.Id">Удалить</a>
                }
            </div>
        </div>
        <div class="col-lg-12">
            <span>Теги: </span>
            @foreach (var tag in ViewBag.CollectionElement.Tags)
            {
                <span class="badge badge-secondary">@tag.Name</span>
            }
        </div>
        <div class="col-lg-12">
            Коллекция:
            <a asp-controller="Collection" asp-action="Collection" asp-route-id="@ViewBag.CollectionElement.Collection.Id">@ViewBag.CollectionElement.Collection.Name</a>
        </div>
        <div class="col-lg-12">
            <img src="@ViewBag.CollectionElement.Image" value="" style="height: 150px; width: 150px; object-fit:cover;" />
        </div>
        <div class="col-lg-12 border-top mt-3 pt-3 pb-1">
            @for (int i = 0; i < ViewBag.CollectionElement.AdditionalFields.Count; i++)
            {
                if (!string.IsNullOrWhiteSpace(ViewBag.CollectionElement.AdditionalFields[i].Value))
                {
                    <h4 class="h4">@ViewBag.CollectionElement.AdditionalFields[i].Name.Name</h4>
                    <span>@ViewBag.CollectionElement.AdditionalFields[i].Value</span>
                }
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="d-flex justify-content-end">
                <form class="" method="post" asp-controller="Collection">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="LikeViewModel.UserId" value="@User.Claims.ElementAt(0).Value" />
                    <input type="hidden" asp-for="LikeViewModel.CollectionElementId" value="@ViewBag.CollectionElement.Id" />
                    <div>
                        @{
                            List<Like> likes = new List<Like>(ViewBag.CollectionElement.Likes);
                            if (likes.Any(i => i.User.Id == User.Claims.ElementAt(0).Value))
                            {
                                <button type="submit" class="btn btn-danger btn-rounded ml-3" asp-action="CollectionElementUnLike" asp-controller="Collection">
                                    <img class="ml-2" src="https://img.icons8.com/ios/30/000000/thumbs-down.png" /><span class="badge badge-light ml-2 mt-2">@likes.Count</span>
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-rounded ml-3" asp-action="CollectionElementLike" asp-controller="Collection">
                                    <img class="ml-2" src="https://img.icons8.com/ios/30/000000/facebook-like--v1.png" /><span class="badge badge-light ml-2 mt-2">@likes.Count</span>
                                </button>
                            }
                        }
                    </div>
                </form>
            </div>
        }
        <div class="col-lg-12 pt-2 pb-2 mb-2 bg-white rounded justify-content-center">
            @if (User.Identity.IsAuthenticated)
            {
                <h5 class="h5 mb-2 mt-2">Ваш комментарий</h5>
                <form class="form-group" method="post" asp-controller="Collection" asp-action="CreateComment">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="CommentViewModel.UserId" value="@User.Claims.ElementAt(0).Value" />
                    <input type="hidden" asp-for="CommentViewModel.CollectionElementId" value="@ViewBag.CollectionElement.Id" />
                    <div class="form-group">
                        <textarea class="form-control shadow-sm bg-white rounded" asp-for="CommentViewModel.Text" placeholder="Введите текст"></textarea>
                        <span asp-validation-for="CommentViewModel.Text" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-success shadow-sm rounded">Отправить</button>
                    </div>
                </form>
            }
        </div>
        <div class="col-lg-12"><h5 class="h5">Все комментарии</h5></div>

        @foreach (var comment in ViewBag.CollectionElement.Comments)
        {
            <div class="col-lg-11 pt-2 pb-2 mb-2 bg-white shadow ml-3">
                <a asp-controller="Profile" asp-action="Profile" asp-route-id="@comment.User.Id" class="h4 mb-2 mt-2">
                    @comment.User.UserName
                </a>
                <p style="word-wrap: break-word;">@comment.Text</p>
            </div>
        }
    </div>
</div>