<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CourseWork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/magicsuggest-master/magicsuggest.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CourseWork</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item mr-3 pt-1">
                        <form method="get" asp-controller="Search" asp-action="Search" class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="Query">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Найти</button>
                        </form>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                                @User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Profile" asp-action="Profile" asp-route-id="@User.Claims.ElementAt(0).Value">Профиль</a>
                                <div class="dropdown-divider"></div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="AdminPanel">Панель администратора</a>
                                }
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CourseWork
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <script>
        $(document).ready(function (){
            bsCustomFileInput.init();
        })
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let CLOUDINARY_URL = 'https://api.cloudinary.com/v1_1/gulivero/upload';
        let CLOUDINARY_UPLOAD_PRESET = 'fhk7y1d5';
        let imgPreview = document.getElementById('img-preview');
        let fileUpload = document.getElementById('customFile');
        fileUpload.addEventListener('change', function () {
            let file = event.target.files[0];
            let formData = new FormData();
            formData.append('file', file);
            formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);
            axios({
                url: CLOUDINARY_URL,
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                data: formData
            }).then(function (res) {
                console.log(res);
                imgPreview.src = res.data.secure_url;
                document.getElementById('file-upload-url').value = res.data.secure_url;
            }).catch(function (err) {
                console.log(err);
            });
        });
    </script>
    <script src="~/lib/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/magicsuggest-master/magicsuggest.js"></script>
    <script>
            $.get('@Context.Request.Scheme://@Context.Request.Host/Collection/GetTags', function(data, status){
                $(function() {
                    let instance = $('#example').magicSuggest({
                        data: data.slice()
                    });
                });
            });

        function getTags() {
            let items = document.getElementsByClassName('ms-sel-item');
            let tags = new Array();
            for (let i=0;i<items.length;i++)
            {
                tags.push(items[i].innerText);
            }
            document.getElementById('tags').value = tags;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
